<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      <% @adoptions.each do |adoption| %>
        <div class="list-group-item col-xs-12 col-sm-10">
          <div class=" col-xs-12 col-sm-2">
            <%= image_tag adoption.adoptions_images.first.avatar.url(:medium), class: "img-responsive img-thumbnail" if adoption.adoptions_images.first != nil %>          
          </div>
          <div class="col-xs-12 col-sm-4">
            <h4 class="list-group-item-heading">
              <%= link_to adoption.title, adoption %>
            </h4>
            <p class="list-group-item-text"><b><%= adoption.animal.name %></b> da raça <b><%= adoption.breed.name %></b>, enviado em <b><%= l adoption.created_at, format: :short %></b></p>
          </div>
          <div class="col-xs-11 col-sm-5">
            <p class="list-group-item-description"><%= adoption.description %></p>
          </div>
          <% if can? :destroy, adoption %>
            <div class="pull-right">
              <%= link_to 'Deletar', adoption, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>