<section class="content-header">
  <h1><%= @adoption.title %></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <% unless @adoption.adoptions_images.present? %>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          Atualmente você não tem imagens para sua adoção.
        </div>
      <% end %>
      <div class="box box-widget">
        <div class="box-body">
          <div id="animals-image-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <% @adoption.adoptions_images.each_with_index do |image, index| %>
              <% if index == 0 %>
                <li data-target="#animals-image-carousel" data-slide-to="<%= index %>" class="active"></li>
              <% else %>
                <li data-target="#animals-image-carousel" data-slide-to="<%= index %>"></li>
              <% end %>
            <% end %>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <% if @adoption.adoptions_images.size < 1 %>
                <div class="item active">
                  <%= image_tag "/default-animal.png", class:"img-responsive center-block" %>
                  <h3 class="carousel-caption">
                    Adicione uma imagem
                  </h3>
                </div>
              <% else %>
                <% @adoption.adoptions_images.each_with_index do |image, index| %>
                  <% if index == 0 %>
                    <div class="item active">
                      <%= image_tag image.avatar.url(:medium), class:"img-responsive center-block" %>
                      <div class="carousel-caption">
                        <h3>
                          <%= link_to 'Remover imagem', image, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </h3>
                      </div>
                    </div>
                  <% else %>
                    <div class="item">
                      <%= image_tag image.avatar.url(:medium), class:"img-responsive center-block" %>
                      <div class="carousel-caption">
                        <h3>
                          <%= link_to 'Remover imagem', image, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </h3>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#animals-image-carousel" role="button" data-slide="prev">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#animals-image-carousel" role="button" data-slide="next">
              <span class="fa fa-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <% if can? :edit, @adoption %>
          <div class="box-footer">
            <%= form_for(@adoption_image, html: { multipart: true }) do |f| %>
              <%= f.hidden_field_tag :adoption_id, @adoption.id %>
              <div class="pull-left">
                <%= f.file_field :avatar, required: true %>
              </div>
              <div class="pull-right">
                <%= f.submit "Adicionar", class: "btn btn-primary btn-flat"%>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>


      <section>
        <legend>Comentários</legend>
      </section>
      <% if can? :create, Comment %>
        <div class="box box-widget">
          <div class="box-body">
            <%= render '/comments/form', comment: Comment.new %>
          </div>
        </div>
      <% end %>
      <div class="box box-widget">
        <% @adoption.comments.each do |comment| %>

            <div class="box-body box-comments">
              <div class="box-comment">
                <%= image_tag current_user.avatar.url(:thumb), class: "img-circle img-sm"%>
                <div class="comment-text">
                  <span class="username">
                    <%= current_user.user_name %>
                    <span class="text-muted pull-right">
                      <%= l comment.created_at, format: :short %>
                      <%= link_to 'Destroy', adoption_comment_path(@adoption, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
                    </span>
                  </span>
                  <%= comment.content %>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <% if @adoption.disabled? %>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          Sua adoção está atualmente <b>desabilitada</b>, clique em <b>publicar</b> para habilita-la
        </div>
      <% end %>
      <div class="box box-primary">
        <div class="box-header with-border">
          <% if can? :edit, @adoption %>
            <div class="pull-right box-tootle">
              <%= link_to edit_adoption_path(@adoption), class: "btn btn-primary btn-flat" do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Editar
              <% end %>
            </div>
          <% end %>
          <div class="user-block">
            <%= image_tag @adoption.user_creator.avatar.url(:thumb), class: "img-circle" %>
            <span class="username">
              <%= @adoption.user_creator.user_name %>
            </span>
            <span class="description">Publicado em <%= l @adoption.created_at, format: :short %></span>
          </div>
        </div>
        <div class="box-body">
          <% if @adoption.enabled? %>
            <% if can?(:enable, Adoption) && can?(:disable, Adoption) %>
              <div class="pull-left">
                 <%= link_to "Finalizar adoção", adoption_to_finished_path(@adoption), class: "btn btn-success btn-flat", method: :post, data: { confirm: 'Tem certeza que deseja finalizar essa adoção?' } %>
              </div>
            <% end %>
          <% end %>

          <% if can?(:to_enable, Adoption) && can?(:to_disable, Adoption) %>
            <div class="pull-right">
              <% unless @adoption.finished? %>
                <% if @adoption.disabled? %>
                  <%= link_to "Publicar", adoption_to_enabled_path(@adoption), class: "btn btn-success btn-flat", method: :post, data: { confirm: 'Pronto para publicar a adoção?' } %>
                <% else %>
                  <%= link_to "Desabilitar", adoption_to_disabled_path(@adoption), class: "btn btn-warning btn-flat", method: :post, data: { confirm: 'Deseja desabilitar a adoção?' } %>
                <% end %>
              <% else %>
                  <%= link_to "Republicar", adoption_to_enabled_path(@adoption), class: "btn btn-success btn-flat", method: :post, data: { confirm: 'Tem certeza que deseja para republicar a adoção?' } %>
              <% end %>
            </div>
          <% end %>
          <section>
            <legend>Sobre</legend>
          </section>
          <ul class="list-group">
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:animal_type) %>:</strong>
              <%= @adoption.animal.name %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:breed) %>:</strong>
              <%= @adoption.breed.name %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:age) %>:</strong>
              <%= @adoption.age %>
            </li>
          </ul> 

          <section>
            <legend>Contato(mock)</legend>
          </section>

          <ul class="list-group">
            <li class="list-group-item">
              <strong><%= User.human_attribute_name(:email) %>:</strong>
              <%= @adoption.user_creator.email %>
            </li>
            <li class="list-group-item">
              <strong><%= User.human_attribute_name(:tel_1) %>:</strong>
              <%= @adoption.user_creator.tel_1 %>
            </li>
            <li class="list-group-item">
              <strong><%= User.human_attribute_name(:tel_2) %>:</strong>
              <%= @adoption.user_creator.tel_2 %>
            </li>
          </ul> 
          <section>
            <legend>Localização</legend>
          </section>
          <% @adoption.location ||= Location.new %>
          <ul class="list-group">
           <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:state) %>:</strong>
              <%= @adoption.state %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:city) %>:</strong>
              <%= @adoption.city %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:neighborhood) %>:</strong>
              <%= @adoption.neighborhood %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:street) %>:</strong>
              <%= @adoption.street %>
            </li>
            <li class="list-group-item">
              <strong><%= Adoption.human_attribute_name(:address_number) %>:</strong>
              <%= @adoption.address_number %> -
              <%= @adoption.complement %>
            </li>
          </ul>
          <% link_to 'Edit', edit_adoption_path(@adoption) %>
          <% link_to 'Back', adoptions_path %>
        </div>
        <% unless @adoption.user_creator == current_user %>
          <div class="box-footer">
            <div class="pull-left">
              <%= link_to "Adotar", "/adoptions/#{@adoption.id}/user/#{current_user.id}/adopt", method: :post, class: "btn btn-success btn-flat pull-left" unless current_user == nil %>
            </div>
            <div class="pull-right">
                <button class="btn btn-warning btn-flat pull-right">Reportar</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>